@charset "UTF-8";

#icone{
    left: 800px;
}
#tv-radio{
	width: 900px;
	height: 580px;
	margin: auto;
	background: url('../imagens/radio-tv.png') no-repeat;
}
#musica{
	display: block;
	position: relative;
	left: 573px;
	top: 490px;
	width: 300px;
}
#filme{
	display: block;
	position: relative;
	left: 89px;
	top: 65px;
	width: 440px;
}