@charset "UTF-8";

@font-face {
	font-family:"FonteDois";
	src: url("../_fonts/bubblegum-sans-regular.otf")
}
#interface{
    width: 940px;
}
#conteudo{
	width: 920px;
	height: 300px;
	margin: 10px;
	padding-right: 10px;
}
#frame-spec{
	width: 400px;
	height: 280px;
	border: none;
	overflow: hidden;
}
#frame-spec:scrollbar{
	display: none;
}
/*------------Formatação corpo------------*/
#corpo-full{
	padding-right: 15px;
	border-right: 1px #606060 solid;
	margin-top: 5px;
}
#primeiro{
	margin-bottom: 0px;
	font-family: 'FonteDois';
	font-weight: bold;
	opacity: 0.5;
}
#corpo-full h2{
	color: #888888;
	font-size: .8em;
	font-weight: bolder;
	opacity: 0.7;
}
.baixo{
	margin-top: 0px;
	padding-bottom: 15px;
}
#corpo-full h3{
	text-align: right;
	color: #000000;
	opacity: 0.6;
	font-size: .6em;
	font-weight: bold;
	font-style: italic;
}
#icone{
    left: 700px;
}